*{margin:0;
padding:0;}


h1{
    font-family: 'Secular One', sans-serif;
}

#feedback .carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
   background-color: red;
    position: absolute;
    right:  -3px;
    background-size: 100% 100%;
    border-radius: 50%;
    
}
 #feedback .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    background-size: 100% 100%;
}